USE [SUPORTE_II]
GO
/****** Object:  Schema [carga]    Script Date: 09/04/2019 17:41:50 ******/
CREATE SCHEMA [carga]
GO
/****** Object:  Table [carga].[ACESSORIOS]    Script Date: 09/04/2019 17:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ACESSORIOS](
	[ACESSORIOS_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACESSORIOS_DESC] [varchar](500) NULL,
	[ACESSORIOS_QTD] [int] NULL,
 CONSTRAINT [ACESSORIOS_ID] PRIMARY KEY CLUSTERED 
(
	[ACESSORIOS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[ACESSORIOS_APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ACESSORIOS_APRESENTACAO](
	[ACESSORIOS_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[ADMINISTRACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ADMINISTRACAO](
	[ADMINISTRACAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADMINISTRACAO_DESC] [varchar](300) NULL,
 CONSTRAINT [ADMINISTRACAO_ID] PRIMARY KEY CLUSTERED 
(
	[ADMINISTRACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[ADMINISTRACAO_APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ADMINISTRACAO_APRESENTACAO](
	[ADMINISTRACAO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[APRESENTACAO](
	[APRESENTACAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[MEDICAMENTO_ID] [int] NULL,
	[EMBALAGEM_PRIMARIA_ID] [int] NULL,
	[EMBALAGEM_SECUNDARIA_ID] [int] NULL,
	[COD_APRESENTACAO] [int] NULL,
	[APRESENTACAO] [varchar](2000) NULL,
	[NUMERO_APRESENTACAO] [int] NULL,
	[TOTALIDADE_APRESENTACAO] [int] NULL,
	[DATA_PUBLICACAO] [date] NULL,
	[VALIDADE_PROD_MESES] [int] NULL,
	[TIPO_VALIDADE] [int] NULL,
	[COD_ANV_APRESENTACAO] [numeric](18, 0) NULL,
	[COMPLEMENTO_APRESENTACAO] [varchar](500) NULL,
	[ACONDICIONADO] [varchar](500) NULL,
	[IF_UNICO] [bit] NULL,
	[RESTRICAO_HOSPITAIS] [bit] NULL,
	[MEDICAMENTO_REFERENCIA] [bit] NULL,
	[APRESENTACAO_FRACIONADA] [bit] NULL,
	[DATA_VENCIMENTO_REGISTRO] [date] NULL,
	[ATIVO] [bit] NULL,
	[INATIVO] [bit] NULL,
	[EM_ANALISE] [bit] NULL,
	[TARJA] [varchar](200) NULL,
 CONSTRAINT [key] PRIMARY KEY CLUSTERED 
(
	[APRESENTACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[APRESENTACAO_CONTENT]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[APRESENTACAO_CONTENT](
	[APRESENTACAO_ID] [int] NULL,
	[CONTENT_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[APRESENTACAOMATERIAL]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[APRESENTACAOMATERIAL](
	[APRESENTACAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[MODELO] [varchar](max) NULL,
	[COMPONENTE] [varchar](max) NULL,
	[APRESENTACAO] [varchar](max) NULL,
 CONSTRAINT [APRESENTACAO_ID] PRIMARY KEY CLUSTERED 
(
	[APRESENTACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [carga].[CLASSE_MEDICAMENTO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[CLASSE_MEDICAMENTO](
	[CLASSE_TERAPEUTICA_ID] [int] NULL,
	[MEDICAMENTO_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[CLASSE_RISCO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[CLASSE_RISCO](
	[CLASSE_RISCO_ID] [int] IDENTITY(1,1) NOT NULL,
	[SIGLA] [varchar](5) NULL,
	[DESCRICAO] [varchar](500) NULL,
 CONSTRAINT [CLASSE_RISCO_ID] PRIMARY KEY CLUSTERED 
(
	[CLASSE_RISCO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[CLASSE_TERAPEUTICA]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[CLASSE_TERAPEUTICA](
	[CLASSE_TERAPEUTICA_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLASSE_TERAPEUTICA_DESC] [varchar](300) NULL,
 CONSTRAINT [CLASSE_TERAPEUTICA_ID] PRIMARY KEY CLUSTERED 
(
	[CLASSE_TERAPEUTICA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[CONSERVACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[CONSERVACAO](
	[CONSERVACAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONSERVACAO_DESC] [varchar](1000) NULL,
 CONSTRAINT [CONSERVACAO_ID] PRIMARY KEY CLUSTERED 
(
	[CONSERVACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[CONSERVACAO_APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[CONSERVACAO_APRESENTACAO](
	[CONSERVACAO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[CONTENT_MATERIAL]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[CONTENT_MATERIAL](
	[CONTENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MATERIAL_ID] [int] NULL,
	[EMPRESA_ID] [int] NOT NULL,
	[MSG_ID] [int] NOT NULL,
	[VENCIMENTO_ID] [int] NULL,
	[CLASSE_RISCO_ID] [int] NULL,
	[PROCESSO] [varchar](40) NULL,
	[DESC_PRODUTO] [varchar](max) NULL,
	[COD_ANV] [numeric](18, 0) NULL,
	[SITUACAO] [varchar](4000) NULL,
	[NOME_TECNICO] [varchar](4000) NULL,
	[CANCELADO] [bit] NULL,
	[DATA_CANCELAMENTO] [date] NULL,
	[PUBLICACAO] [date] NULL,
	[APRESENTACAOMODELO] [bit] NULL,
 CONSTRAINT [CONTENT_ID] PRIMARY KEY CLUSTERED 
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [carga].[DESTINACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[DESTINACAO](
	[DESTINACAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESTINACAO_DESC] [varchar](300) NULL,
 CONSTRAINT [DESTINACAO_ID] PRIMARY KEY CLUSTERED 
(
	[DESTINACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[DESTINACAO_APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[DESTINACAO_APRESENTACAO](
	[DESTINACAO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[EMBALAGEM_PRIMARIA]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[EMBALAGEM_PRIMARIA](
	[EMBALAGEM_PRIMARIA_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMBALAGEM_PRIMARIA_TIPO] [varchar](200) NULL,
	[EMBALAGEM_PRIMARIA_OBS] [varchar](200) NULL,
 CONSTRAINT [EMBALAGEM_PRIMARIA_ID] PRIMARY KEY CLUSTERED 
(
	[EMBALAGEM_PRIMARIA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[EMBALAGEM_SECUNDARIA]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[EMBALAGEM_SECUNDARIA](
	[EMBALAGEM_SECUNDARIA_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMBALAGEM_SECUNDARIA_TIPO] [varchar](200) NULL,
	[EMBALAGEM_SECUNDARIA_OBS] [varchar](200) NULL,
 CONSTRAINT [EMBALAGEM_SECUNDARIA_ID] PRIMARY KEY CLUSTERED 
(
	[EMBALAGEM_SECUNDARIA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[EMPRESA]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[EMPRESA](
	[ID_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[CNPJ] [varchar](20) NULL,
	[RAZAO_SOCIAL] [varchar](2000) NULL,
	[NUMEROAUTORIZACAO] [int] NULL,
	[CNPJFORMATADO] [varchar](30) NULL,
	[AUTORIZACAO] [varchar](2000) NULL,
 CONSTRAINT [ID_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[ENVOLTORIO_APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ENVOLTORIO_APRESENTACAO](
	[ENVOLTORIOS_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[ENVOLTORIOS]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ENVOLTORIOS](
	[ENVOLTORIOS_ID] [int] IDENTITY(1,1) NOT NULL,
	[ENVOLTORIOS_DESC] [varchar](500) NULL,
 CONSTRAINT [ENVOLTORIOS_ID] PRIMARY KEY CLUSTERED 
(
	[ENVOLTORIOS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[FABRICANTE]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[FABRICANTE](
	[FABRICANTE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ATIVIDADE] [varchar](2000) NULL,
	[RAZAOSOCIAL] [varchar](2000) NULL,
	[PAIS] [varchar](300) NULL,
	[LOCAL] [varchar](300) NULL,
 CONSTRAINT [FABRICANTE_ID] PRIMARY KEY CLUSTERED 
(
	[FABRICANTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[FABRICANTE_APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[FABRICANTE_APRESENTACAO](
	[FABRICANTES_NACIONAIS_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL,
	[TIPO_FAB] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[FABRICANTE_CONTENT]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[FABRICANTE_CONTENT](
	[CONTENT_ID] [int] NULL,
	[FABRICANTE_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[FABRICANTE_MEDICAMENTO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[FABRICANTE_MEDICAMENTO](
	[FABRICANTES_ID] [int] IDENTITY(1,1) NOT NULL,
	[RAZAO_SOCIAL] [varchar](500) NULL,
	[CNPJ] [varchar](20) NULL,
	[PAIS] [varchar](200) NULL,
	[UF] [varchar](200) NULL,
	[CIDADE] [varchar](500) NULL,
	[ENDERECO] [varchar](1000) NULL,
 CONSTRAINT [FABRICANTES_ID] PRIMARY KEY CLUSTERED 
(
	[FABRICANTES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[FORMAS_APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[FORMAS_APRESENTACAO](
	[APRESENTACAO_ID] [int] NULL,
	[FORMAS_FARMACEUTICAS_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[FORMAS_FARMACEUTICAS]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[FORMAS_FARMACEUTICAS](
	[FORMAS_FARMACEUTICAS_ID] [int] IDENTITY(1,1) NOT NULL,
	[FORMAS_FARMACEUTICAS_DESC] [varchar](500) NULL,
 CONSTRAINT [Key8] PRIMARY KEY CLUSTERED 
(
	[FORMAS_FARMACEUTICAS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[MARCA]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[MARCA](
	[MARCA_ID] [int] IDENTITY(1,1) NOT NULL,
	[MARCA_DESC] [varchar](200) NULL,
 CONSTRAINT [MARCA_ID] PRIMARY KEY CLUSTERED 
(
	[MARCA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[MARCA_APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[MARCA_APRESENTACAO](
	[MARCA_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[MATERIAL]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[MATERIAL](
	[ID_MATERIAL] [int] IDENTITY(1,1) NOT NULL,
	[TOTALELEMENTS] [int] NULL,
	[TOTALPAGES] [int] NULL,
	[LASTPAGE] [bit] NULL,
	[NUMBERSELEMENTS] [int] NULL,
	[FIRSTPAGE] [bit] NULL,
	[SORT] [int] NULL,
	[NUMBER] [int] NULL,
	[SIZE] [int] NULL,
 CONSTRAINT [ID_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[ID_MATERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[MEDICAMENTO_CONTENT]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[MEDICAMENTO_CONTENT](
	[MEDICAMENTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NULL,
	[PROCESSO_ID] [int] NOT NULL,
	[CODIGO_PROD] [int] NULL,
	[TIPO_PROD] [int] NULL,
	[DATA_PROD] [date] NULL,
	[NOME_COMERCIAL] [varchar](max) NULL,
	[COD_ANVISA_MED] [numeric](18, 0) NULL,
	[DATA_VENCIMENTO] [date] NULL,
	[MES_ANO_VENCIMENTO] [varchar](10) NULL,
	[COD_PARECER_PUBLICO] [varchar](50) NULL,
	[DATA_VENCIMENTO_REGISTRO] [date] NULL,
	[PRINCIPIO_ATIVO] [varchar](200) NULL,
	[MEDICAMENTO_REFERENCIA] [varchar](200) NULL,
	[CATEGORIA_TERAPEUTICA] [varchar](200) NULL,
	[ATC] [varchar](100) NULL,
	[APRESENTACAO_ID] [int] NULL,
	[COD_BULA_PACIENTES] [varchar](2000) NULL,
	[COD_BULA_PROFISSIONAL] [varchar](2000) NULL,
 CONSTRAINT [MEDICAMENTO_ID] PRIMARY KEY CLUSTERED 
(
	[MEDICAMENTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [carga].[MENSAGEM]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[MENSAGEM](
	[ID_MSG] [int] IDENTITY(1,1) NOT NULL,
	[SITUACAO] [varchar](2000) NULL,
	[RESOLUCAO] [varchar](2000) NULL,
	[MOTIVO] [varchar](2000) NULL,
	[NEGATIVO] [bit] NULL,
 CONSTRAINT [ID_MSG] PRIMARY KEY CLUSTERED 
(
	[ID_MSG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[PRINCIPIO_ATIVO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[PRINCIPIO_ATIVO](
	[PRINCIPIO_ATIVO_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRINCIPIO_ATIVO_DESC] [varchar](500) NULL,
 CONSTRAINT [PRINCIPIO_ATIVO_ID] PRIMARY KEY CLUSTERED 
(
	[PRINCIPIO_ATIVO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[PRINCIPIO_ATIVO_APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[PRINCIPIO_ATIVO_APRESENTACAO](
	[PRINCIPIO_ATIVO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[PROCESSO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[PROCESSO](
	[PROCESSO_ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO_PROCESSO] [numeric](18, 0) NULL,
	[SITUACAO] [int] NOT NULL,
	[PROCESSO_FORMATADO] [varchar](300) NULL,
 CONSTRAINT [PROCESSO_ID] PRIMARY KEY CLUSTERED 
(
	[PROCESSO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[RESTRICAO_PRESC_APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[RESTRICAO_PRESC_APRESENTACAO](
	[RESTRICAO_PRESCRICAO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[RESTRICAO_PRESCRICAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[RESTRICAO_PRESCRICAO](
	[RESTRICAO_PRESCRICAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[RESTRICAO_PRESCRICAO_DESC] [varchar](7000) NULL,
 CONSTRAINT [RESTRICAO_PRESCRICAO_ID] PRIMARY KEY CLUSTERED 
(
	[RESTRICAO_PRESCRICAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[RESTRICAO_US0_APRESENTACAO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[RESTRICAO_US0_APRESENTACAO](
	[RESTRICAO_USO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[RESTRICAO_USO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[RESTRICAO_USO](
	[RESTRICAO_USO_ID] [int] IDENTITY(1,1) NOT NULL,
	[RESTRICAO_USO_DESC] [varchar](500) NULL,
 CONSTRAINT [RESTRICAO_USO_ID] PRIMARY KEY CLUSTERED 
(
	[RESTRICAO_USO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[ROTULO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ROTULO](
	[ROTULO_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROTULO_DESC] [varchar](500) NULL,
 CONSTRAINT [ROTULO_ID] PRIMARY KEY CLUSTERED 
(
	[ROTULO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[ROTULO_MEDICAMENTO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ROTULO_MEDICAMENTO](
	[ROTULO_ID] [int] NULL,
	[MEDICAMENTO_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [carga].[VENCIMENTO]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[VENCIMENTO](
	[VENCIMENTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [date] NULL,
	[DESCRICAO] [varchar](2000) NULL,
 CONSTRAINT [VENCIMENTO_ID] PRIMARY KEY CLUSTERED 
(
	[VENCIMENTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [carga].[ACESSORIOS_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_ACESSORIOS_APRES] FOREIGN KEY([ACESSORIOS_ID])
REFERENCES [carga].[ACESSORIOS] ([ACESSORIOS_ID])
GO
ALTER TABLE [carga].[ACESSORIOS_APRESENTACAO] CHECK CONSTRAINT [FK_ACESSORIOS_APRES]
GO
ALTER TABLE [carga].[ACESSORIOS_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_ACESSORIOS] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[ACESSORIOS_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_ACESSORIOS]
GO
ALTER TABLE [carga].[ADMINISTRACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_ADM_APRESENTACAO] FOREIGN KEY([ADMINISTRACAO_ID])
REFERENCES [carga].[ADMINISTRACAO] ([ADMINISTRACAO_ID])
GO
ALTER TABLE [carga].[ADMINISTRACAO_APRESENTACAO] CHECK CONSTRAINT [FK_ADM_APRESENTACAO]
GO
ALTER TABLE [carga].[ADMINISTRACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRESENTACAO_ADM] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[ADMINISTRACAO_APRESENTACAO] CHECK CONSTRAINT [FK_APRESENTACAO_ADM]
GO
ALTER TABLE [carga].[APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_EMB_PRI_APRESENTACAO] FOREIGN KEY([EMBALAGEM_PRIMARIA_ID])
REFERENCES [carga].[EMBALAGEM_PRIMARIA] ([EMBALAGEM_PRIMARIA_ID])
GO
ALTER TABLE [carga].[APRESENTACAO] CHECK CONSTRAINT [FK_EMB_PRI_APRESENTACAO]
GO
ALTER TABLE [carga].[APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_EMB_SEC_APRESENTACAO] FOREIGN KEY([EMBALAGEM_SECUNDARIA_ID])
REFERENCES [carga].[EMBALAGEM_SECUNDARIA] ([EMBALAGEM_SECUNDARIA_ID])
GO
ALTER TABLE [carga].[APRESENTACAO] CHECK CONSTRAINT [FK_EMB_SEC_APRESENTACAO]
GO
ALTER TABLE [carga].[APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_APRESENTACAO] FOREIGN KEY([MEDICAMENTO_ID])
REFERENCES [carga].[MEDICAMENTO_CONTENT] ([MEDICAMENTO_ID])
GO
ALTER TABLE [carga].[APRESENTACAO] CHECK CONSTRAINT [FK_MEDICAMENTO_APRESENTACAO]
GO
ALTER TABLE [carga].[APRESENTACAO_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_APRESENTACAO_CONTENT] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAOMATERIAL] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[APRESENTACAO_CONTENT] CHECK CONSTRAINT [FK_APRESENTACAO_CONTENT]
GO
ALTER TABLE [carga].[APRESENTACAO_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_APRESENTACAO] FOREIGN KEY([CONTENT_ID])
REFERENCES [carga].[CONTENT_MATERIAL] ([CONTENT_ID])
GO
ALTER TABLE [carga].[APRESENTACAO_CONTENT] CHECK CONSTRAINT [FK_CONTENT_APRESENTACAO]
GO
ALTER TABLE [carga].[CLASSE_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_CLASSE_MED] FOREIGN KEY([CLASSE_TERAPEUTICA_ID])
REFERENCES [carga].[CLASSE_TERAPEUTICA] ([CLASSE_TERAPEUTICA_ID])
GO
ALTER TABLE [carga].[CLASSE_MEDICAMENTO] CHECK CONSTRAINT [FK_CLASSE_MED]
GO
ALTER TABLE [carga].[CLASSE_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_CLASSE] FOREIGN KEY([MEDICAMENTO_ID])
REFERENCES [carga].[MEDICAMENTO_CONTENT] ([MEDICAMENTO_ID])
GO
ALTER TABLE [carga].[CLASSE_MEDICAMENTO] CHECK CONSTRAINT [FK_MEDICAMENTO_CLASSE]
GO
ALTER TABLE [carga].[CONSERVACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_CONSERVACAO] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[CONSERVACAO_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_CONSERVACAO]
GO
ALTER TABLE [carga].[CONSERVACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_CONSERVACAO_APRES] FOREIGN KEY([CONSERVACAO_ID])
REFERENCES [carga].[CONSERVACAO] ([CONSERVACAO_ID])
GO
ALTER TABLE [carga].[CONSERVACAO_APRESENTACAO] CHECK CONSTRAINT [FK_CONSERVACAO_APRES]
GO
ALTER TABLE [carga].[CONTENT_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_CLASSE_RISCO_CONTENT] FOREIGN KEY([CLASSE_RISCO_ID])
REFERENCES [carga].[CLASSE_RISCO] ([CLASSE_RISCO_ID])
GO
ALTER TABLE [carga].[CONTENT_MATERIAL] CHECK CONSTRAINT [FK_CLASSE_RISCO_CONTENT]
GO
ALTER TABLE [carga].[CONTENT_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_MSG] FOREIGN KEY([MSG_ID])
REFERENCES [carga].[MENSAGEM] ([ID_MSG])
GO
ALTER TABLE [carga].[CONTENT_MATERIAL] CHECK CONSTRAINT [FK_CONTENT_MSG]
GO
ALTER TABLE [carga].[CONTENT_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_CONTENT] FOREIGN KEY([EMPRESA_ID])
REFERENCES [carga].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [carga].[CONTENT_MATERIAL] CHECK CONSTRAINT [FK_EMPRESA_CONTENT]
GO
ALTER TABLE [carga].[CONTENT_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_ID_MATERIAL_CONTENT] FOREIGN KEY([MATERIAL_ID])
REFERENCES [carga].[MATERIAL] ([ID_MATERIAL])
GO
ALTER TABLE [carga].[CONTENT_MATERIAL] CHECK CONSTRAINT [FK_ID_MATERIAL_CONTENT]
GO
ALTER TABLE [carga].[CONTENT_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_VENCIMENTO_CONTENT] FOREIGN KEY([VENCIMENTO_ID])
REFERENCES [carga].[VENCIMENTO] ([VENCIMENTO_ID])
GO
ALTER TABLE [carga].[CONTENT_MATERIAL] CHECK CONSTRAINT [FK_VENCIMENTO_CONTENT]
GO
ALTER TABLE [carga].[DESTINACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_DEST] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[DESTINACAO_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_DEST]
GO
ALTER TABLE [carga].[DESTINACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_DEST_APRES] FOREIGN KEY([DESTINACAO_ID])
REFERENCES [carga].[DESTINACAO] ([DESTINACAO_ID])
GO
ALTER TABLE [carga].[DESTINACAO_APRESENTACAO] CHECK CONSTRAINT [FK_DEST_APRES]
GO
ALTER TABLE [carga].[ENVOLTORIO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_EV] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[ENVOLTORIO_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_EV]
GO
ALTER TABLE [carga].[ENVOLTORIO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_ENV_APRES] FOREIGN KEY([ENVOLTORIOS_ID])
REFERENCES [carga].[ENVOLTORIOS] ([ENVOLTORIOS_ID])
GO
ALTER TABLE [carga].[ENVOLTORIO_APRESENTACAO] CHECK CONSTRAINT [FK_ENV_APRES]
GO
ALTER TABLE [carga].[FABRICANTE_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_FAB] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[FABRICANTE_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_FAB]
GO
ALTER TABLE [carga].[FABRICANTE_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_FAB_APRES] FOREIGN KEY([FABRICANTES_NACIONAIS_ID])
REFERENCES [carga].[FABRICANTE_MEDICAMENTO] ([FABRICANTES_ID])
GO
ALTER TABLE [carga].[FABRICANTE_APRESENTACAO] CHECK CONSTRAINT [FK_FAB_APRES]
GO
ALTER TABLE [carga].[FABRICANTE_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_FABRICANTE] FOREIGN KEY([CONTENT_ID])
REFERENCES [carga].[CONTENT_MATERIAL] ([CONTENT_ID])
GO
ALTER TABLE [carga].[FABRICANTE_CONTENT] CHECK CONSTRAINT [FK_CONTENT_FABRICANTE]
GO
ALTER TABLE [carga].[FABRICANTE_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_FABRICANTE_CONTENT] FOREIGN KEY([FABRICANTE_ID])
REFERENCES [carga].[FABRICANTE] ([FABRICANTE_ID])
GO
ALTER TABLE [carga].[FABRICANTE_CONTENT] CHECK CONSTRAINT [FK_FABRICANTE_CONTENT]
GO
ALTER TABLE [carga].[FORMAS_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRESENTACAO_FORMAS] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[FORMAS_APRESENTACAO] CHECK CONSTRAINT [FK_APRESENTACAO_FORMAS]
GO
ALTER TABLE [carga].[FORMAS_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_FORMAS_APRESENTACAO] FOREIGN KEY([FORMAS_FARMACEUTICAS_ID])
REFERENCES [carga].[FORMAS_FARMACEUTICAS] ([FORMAS_FARMACEUTICAS_ID])
GO
ALTER TABLE [carga].[FORMAS_APRESENTACAO] CHECK CONSTRAINT [FK_FORMAS_APRESENTACAO]
GO
ALTER TABLE [carga].[MARCA_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_MARCA] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[MARCA_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_MARCA]
GO
ALTER TABLE [carga].[MARCA_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_MARCA_APRES] FOREIGN KEY([MARCA_ID])
REFERENCES [carga].[MARCA] ([MARCA_ID])
GO
ALTER TABLE [carga].[MARCA_APRESENTACAO] CHECK CONSTRAINT [FK_MARCA_APRES]
GO
ALTER TABLE [carga].[MEDICAMENTO_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_MED] FOREIGN KEY([ID_EMPRESA])
REFERENCES [carga].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [carga].[MEDICAMENTO_CONTENT] CHECK CONSTRAINT [FK_EMPRESA_MED]
GO
ALTER TABLE [carga].[MEDICAMENTO_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_PROCESSO] FOREIGN KEY([PROCESSO_ID])
REFERENCES [carga].[PROCESSO] ([PROCESSO_ID])
GO
ALTER TABLE [carga].[MEDICAMENTO_CONTENT] CHECK CONSTRAINT [FK_MEDICAMENTO_PROCESSO]
GO
ALTER TABLE [carga].[PRINCIPIO_ATIVO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRESENTACAO_PRINCIPIO] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[PRINCIPIO_ATIVO_APRESENTACAO] CHECK CONSTRAINT [FK_APRESENTACAO_PRINCIPIO]
GO
ALTER TABLE [carga].[PRINCIPIO_ATIVO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_PRINCIPIO_APRESENTACAO] FOREIGN KEY([PRINCIPIO_ATIVO_ID])
REFERENCES [carga].[PRINCIPIO_ATIVO] ([PRINCIPIO_ATIVO_ID])
GO
ALTER TABLE [carga].[PRINCIPIO_ATIVO_APRESENTACAO] CHECK CONSTRAINT [FK_PRINCIPIO_APRESENTACAO]
GO
ALTER TABLE [carga].[RESTRICAO_PRESC_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_REST_PRES] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[RESTRICAO_PRESC_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_REST_PRES]
GO
ALTER TABLE [carga].[RESTRICAO_PRESC_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_REST_PRES_APRES] FOREIGN KEY([RESTRICAO_PRESCRICAO_ID])
REFERENCES [carga].[RESTRICAO_PRESCRICAO] ([RESTRICAO_PRESCRICAO_ID])
GO
ALTER TABLE [carga].[RESTRICAO_PRESC_APRESENTACAO] CHECK CONSTRAINT [FK_REST_PRES_APRES]
GO
ALTER TABLE [carga].[RESTRICAO_US0_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_REST] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[RESTRICAO_US0_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_REST]
GO
ALTER TABLE [carga].[RESTRICAO_US0_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_REST_APRES] FOREIGN KEY([RESTRICAO_USO_ID])
REFERENCES [carga].[RESTRICAO_USO] ([RESTRICAO_USO_ID])
GO
ALTER TABLE [carga].[RESTRICAO_US0_APRESENTACAO] CHECK CONSTRAINT [FK_REST_APRES]
GO
ALTER TABLE [carga].[ROTULO_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_ROTULO] FOREIGN KEY([MEDICAMENTO_ID])
REFERENCES [carga].[MEDICAMENTO_CONTENT] ([MEDICAMENTO_ID])
GO
ALTER TABLE [carga].[ROTULO_MEDICAMENTO] CHECK CONSTRAINT [FK_MEDICAMENTO_ROTULO]
GO
ALTER TABLE [carga].[ROTULO_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_ROTULO_MEDICAMENTO] FOREIGN KEY([ROTULO_ID])
REFERENCES [carga].[ROTULO] ([ROTULO_ID])
GO
ALTER TABLE [carga].[ROTULO_MEDICAMENTO] CHECK CONSTRAINT [FK_ROTULO_MEDICAMENTO]
GO
/****** Object:  StoredProcedure [carga].[InsertAcessoriosJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertAcessoriosJson](
@acessorios_desc varchar(500) = NULL,
@acessorios_qtd int = NULL,
@apresentacao_id int = NULL)
AS    
BEGIN
DECLARE @acessorio_id int
--ROTULO

IF NOT EXISTS(SELECT * FROM carga.ACESSORIOS WHERE ACESSORIOS_DESC = @acessorios_desc AND ACESSORIOS_QTD = @acessorios_qtd)
BEGIN
INSERT INTO carga.ACESSORIOS(ACESSORIOS_DESC, ACESSORIOS_QTD) VALUES (@acessorios_desc,@acessorios_qtd )
SET @acessorio_id = SCOPE_IDENTITY()
END
ELSE
BEGIN
SET @acessorio_id = (SELECT ACESSORIOS_ID FROM carga.ACESSORIOS WHERE ACESSORIOS_DESC = @acessorios_desc AND ACESSORIOS_QTD = @acessorios_qtd)
END

INSERT INTO carga.ACESSORIOS_APRESENTACAO(ACESSORIOS_ID, APRESENTACAO_ID) VALUES (@acessorio_id, @apresentacao_id) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertAdministracaoJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertAdministracaoJson](
@administracao_desc varchar(500) = NULL,
@apresentacao_id int = NULL)
AS    
BEGIN
DECLARE @administracao_id int
--ROTULO
IF NOT EXISTS(SELECT * FROM carga.ADMINISTRACAO  WHERE ADMINISTRACAO_DESC = @administracao_desc)
BEGIN 
INSERT INTO carga.ADMINISTRACAO(ADMINISTRACAO_DESC) VALUES (@administracao_desc)
SET @administracao_id = SCOPE_IDENTITY()
END 
ELSE 
BEGIN 
 SET @administracao_id = (SELECT ADMINISTRACAO_ID FROM carga.ADMINISTRACAO WHERE ADMINISTRACAO_DESC = @administracao_desc)
END

INSERT INTO carga.ADMINISTRACAO_APRESENTACAO(ADMINISTRACAO_ID, APRESENTACAO_ID) VALUES (@administracao_id, @apresentacao_id) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertApresentacaoJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertApresentacaoJson](

@cont_content_id int NULL,
@ap_modelo varchar(max) NULL,
@ap_componente varchar(max) NULL,
@ap_apresentacao varchar(max) NULL
)
AS    
BEGIN
DECLARE @apresentacao_id int
--MATERIAL	
  INSERT INTO APRESENTACAOMATERIAL(MODELO, COMPONENTE, APRESENTACAO)
    VALUES(@ap_modelo, @ap_componente, @ap_apresentacao)
SET @apresentacao_id = SCOPE_IDENTITY()

INSERT INTO APRESENTACAO_CONTENT(CONTENT_ID, APRESENTACAO_ID)
    VALUES (@cont_content_id, @apresentacao_id) 
	
END
GO
/****** Object:  StoredProcedure [carga].[InsertApresentacaoMedicamentoJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertApresentacaoMedicamentoJson](
  @med_id int,
--EMBALAGEM
  @embp_tipo varchar(200) = '',
  @embp_observacao varchar(200) = '',

--EMBALAGEM Secundaria
 @embs_tipo varchar(200) = '',
 @embs_observacao varchar(200) = '',
--APRESENTACAO
  @apres_codigo int = NULL,
  @apres_numero int = NULL,
  @apres_totalidade int = NULL,
  @apres_apresentacao varchar(2000) = NULL,
  @apres_dataPublicacao date = NULL,
  @apres_validade int = NULL,
    
  @apres_tipoValidade int = NULL,
  @apres_registro numeric(18,0),
  @apres_acondicionamento varchar(200) = NULL,
  @apres_complemento varchar(2000) = NULL,
  @apres_restricaoHospitais bit = 0,
  @apres_tarja varchar(20) = NULL,
  @apres_medicamentoReferencia bit = 0,
  @apres_apresentacaoFracionada bit = 0,
  @apres_dataVencimentoRegistro date = NULL,
  @apres_ativa bit = NULL,
  @apres_inativa bit = NULL,
  @apres_emAnalise bit = NULL,
  @apres_ifaUnico bit = NULL)
  
AS    
BEGIN
DECLARE @embp_id AS int
DECLARE @embs_id AS int
DECLARE @apresentacao_id AS int
 
--SET @med_id = 1 
----EMBALAGEM
--SET  @embp_tipo = 'Frasco de plástico opaco'
--SET  @embp_observacao = NULL

----EMBALAGEM Secundaria
--SET @embs_tipo = 'Cartucho'
--SET @embs_observacao = 'Cartolina'
----APRESENTACAO
--SET @apres_codigo = 1
--SET @apres_numero = 1
--SET @apres_totalidade = 0  --'','',0,0,0,0,null,1,0,1
--SET @apres_apresentacao = 'TESTE 1000 ML'
--SET @apres_dataPublicacao = '2019-03-25'
--SET @apres_validade = 24
--SET @apres_tipoValidade = 1
--SET @apres_registro = 1468200780018
--SET @apres_acondicionamento = NULL
--SET @apres_complemento = 0
--SET @apres_restricaoHospitais = 0
--SET @apres_tarja = 'Vermelha'
--SET @apres_medicamentoReferencia = 0
--SET @apres_apresentacaoFracionada = 0
--SET @apres_dataVencimentoRegistro = NULL
--SET @apres_ativa = 0
--SET @apres_inativa = 0
--SET @apres_emAnalise = 0
--SET @apres_ifaUnico = 1

INSERT INTO [carga].[EMBALAGEM_PRIMARIA] ([EMBALAGEM_PRIMARIA_TIPO],[EMBALAGEM_PRIMARIA_OBS])
   VALUES (@embp_tipo ,@embp_observacao)
   SET @embp_id = SCOPE_IDENTITY()

INSERT INTO [carga].[EMBALAGEM_SECUNDARIA]([EMBALAGEM_SECUNDARIA_TIPO],[EMBALAGEM_SECUNDARIA_OBS])
   VALUES(@embs_tipo ,@embs_observacao)
   SET @embs_id = SCOPE_IDENTITY()

----MEDICAMENTO
INSERT INTO [carga].[APRESENTACAO] ([MEDICAMENTO_ID], [EMBALAGEM_PRIMARIA_ID], [EMBALAGEM_SECUNDARIA_ID] ,[COD_APRESENTACAO],[APRESENTACAO],[NUMERO_APRESENTACAO],[TOTALIDADE_APRESENTACAO]
           ,[DATA_PUBLICACAO],[VALIDADE_PROD_MESES],[TIPO_VALIDADE],[COD_ANV_APRESENTACAO],[COMPLEMENTO_APRESENTACAO],[ACONDICIONADO],[IF_UNICO],[RESTRICAO_HOSPITAIS],[MEDICAMENTO_REFERENCIA]
           ,[APRESENTACAO_FRACIONADA],[DATA_VENCIMENTO_REGISTRO],[ATIVO],[INATIVO],[EM_ANALISE],[TARJA])
     VALUES( @med_id ,@embp_id ,@embs_id ,@apres_codigo ,@apres_apresentacao ,@apres_numero,@apres_totalidade, @apres_dataPublicacao, @apres_validade, @apres_tipoValidade, @apres_registro
            ,@apres_complemento ,@apres_acondicionamento ,@apres_ifaUnico ,@apres_restricaoHospitais ,@apres_medicamentoReferencia, @apres_apresentacaoFracionada, @apres_dataVencimentoRegistro
            ,@apres_ativa, @apres_inativa, @apres_emAnalise,@apres_tarja)

SET @apresentacao_id = SCOPE_IDENTITY()

SELECT @apresentacao_id AS APRESENTACAO_ID
RETURN;	

END
GO
/****** Object:  StoredProcedure [carga].[InsertClasseTerapeuticaJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertClasseTerapeuticaJson](
@classe_terapeutica_desc varchar(300) = NULL,
@idmedDet_id int = NULL)
AS    
BEGIN
DECLARE @classe_id int
--CLASSE_TERAPEUTICO
IF NOT EXISTS(SELECT * FROM carga.CLASSE_TERAPEUTICA  WHERE CLASSE_TERAPEUTICA_DESC = @classe_terapeutica_desc)
   BEGIN
      INSERT INTO carga.CLASSE_TERAPEUTICA (CLASSE_TERAPEUTICA_DESC) VALUES (@classe_terapeutica_desc)
   SET @classe_id = SCOPE_IDENTITY()
   END
   ELSE
   BEGIN
   SET @classe_id = (SELECT CLASSE_TERAPEUTICA_ID FROM carga.CLASSE_TERAPEUTICA WHERE CLASSE_TERAPEUTICA_DESC = @classe_terapeutica_desc)
   END

  INSERT INTO carga.CLASSE_MEDICAMENTO(CLASSE_TERAPEUTICA_ID, MEDICAMENTO_ID) VALUES (@classe_id,@idmedDet_id) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertConservacaoJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertConservacaoJson](
@conservacao_desc varchar(500) = NULL,
@apresentacao_id int = NULL)
AS    
BEGIN
DECLARE @conservacao_id int
--ROTULO
INSERT INTO carga.CONSERVACAO(CONSERVACAO_DESC) VALUES (@conservacao_desc)
SET @conservacao_id = SCOPE_IDENTITY()

INSERT INTO carga.CONSERVACAO_APRESENTACAO(CONSERVACAO_ID, APRESENTACAO_ID) VALUES (@conservacao_id, @apresentacao_id) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertDestinacaoJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertDestinacaoJson](
@destinacao_desc varchar(500) = NULL,
@apresentacao_id int = NULL)
AS    
BEGIN
DECLARE @destinacao_id int
--ROTULO
INSERT INTO carga.DESTINACAO(DESTINACAO_DESC) VALUES (@destinacao_desc)
SET @destinacao_id = SCOPE_IDENTITY()

INSERT INTO carga.DESTINACAO_APRESENTACAO(DESTINACAO_ID, APRESENTACAO_ID) VALUES (@destinacao_id, @apresentacao_id) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertEnvoltorioJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertEnvoltorioJson](
@env_envoltorios_desc varchar(500) = NULL,
@apresentacao_id int = NULL)
AS    
BEGIN
DECLARE @envoltorio_id int
--ENVOLTORIOS
IF NOT EXISTS(SELECT * FROM carga.ENVOLTORIOS WHERE ENVOLTORIOS_DESC = @env_envoltorios_desc)
BEGIN
INSERT INTO carga.ENVOLTORIOS(ENVOLTORIOS_DESC) VALUES (@env_envoltorios_desc)
 SET @envoltorio_id = SCOPE_IDENTITY()
END
ELSE
BEGIN
SET @envoltorio_id = (SELECT ENVOLTORIOS_ID FROM carga.ENVOLTORIOS WHERE ENVOLTORIOS_DESC = @env_envoltorios_desc)
END

INSERT INTO carga.ENVOLTORIO_APRESENTACAO(ENVOLTORIOS_ID, APRESENTACAO_ID) VALUES (@envoltorio_id, @apresentacao_id) 

END
GO
/****** Object:  StoredProcedure [carga].[InsertFabricanteJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertFabricanteJson](

@cont_content_id int = NULL,
@fab_atividade varchar(max) = NULL,
@fab_razaosocial varchar(max) = NULL,
@fab_pais varchar(max) = NULL,
@fab_local varchar(max) = NULL
)
AS    
BEGIN
DECLARE @fabricante_id int
--MATERIAL	
  INSERT INTO carga.FABRICANTE(ATIVIDADE, RAZAOSOCIAL, PAIS, LOCAL)
    VALUES(@fab_atividade, @fab_razaosocial,@fab_pais, @fab_local)
SET @fabricante_id = SCOPE_IDENTITY()

INSERT INTO carga.FABRICANTE_CONTENT(CONTENT_ID, FABRICANTE_ID)
    VALUES (@cont_content_id, @fabricante_id) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertFabricanteMedicamentoJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertFabricanteMedicamentoJson](
@apresentacao_id int = NULL,
@fab_razaosocial varchar(4000) = NULL,
@fab_endereco varchar(500) = NULL,
@fab_pais varchar(200) = NULL,
@fab_cnpj varchar(200) = NULL,
@fab_cidade varchar(200) = NULL,
@fab_uf varchar(10) = NULL,
@fab_tipo char = NULL
)
AS    
BEGIN
DECLARE @fabricante_id int
--MATERIAL	
  IF(@fab_tipo = 'N')
     BEGIN
	   IF NOT EXISTS( SELECT * FROM carga.FABRICANTE_MEDICAMENTO WHERE CNPJ = @fab_cnpj)
	   BEGIN
	      INSERT INTO carga.FABRICANTE_MEDICAMENTO(RAZAO_SOCIAL,ENDERECO,PAIS,CNPJ,UF,CIDADE)
             VALUES(@fab_razaosocial,@fab_endereco,@fab_pais, @fab_cnpj, @fab_uf, @fab_cidade)
          SET @fabricante_id = SCOPE_IDENTITY()
	   END
	   ELSE
	   BEGIN
	      SET @fabricante_id = (SELECT FABRICANTES_ID FROM carga.FABRICANTE_MEDICAMENTO WHERE CNPJ = @fab_cnpj)
	   END
    END 
ELSE
 BEGIN
    IF NOT EXISTS( SELECT * FROM carga.FABRICANTE_MEDICAMENTO WHERE RAZAO_SOCIAL = @fab_razaosocial AND PAIS = @fab_pais)
	   BEGIN
	      INSERT INTO carga.FABRICANTE_MEDICAMENTO(RAZAO_SOCIAL,ENDERECO,PAIS,CNPJ,UF,CIDADE)
             VALUES(@fab_razaosocial,@fab_endereco,@fab_pais, @fab_cnpj, @fab_uf, @fab_cidade)
          SET @fabricante_id = SCOPE_IDENTITY()
	   END
	   ELSE
	   BEGIN
	      SET @fabricante_id = (SELECT FABRICANTES_ID FROM carga.FABRICANTE_MEDICAMENTO WHERE RAZAO_SOCIAL = @fab_razaosocial AND PAIS = @fab_pais)
	    END   
 END 
  
INSERT INTO carga.FABRICANTE_APRESENTACAO(FABRICANTES_NACIONAIS_ID, APRESENTACAO_ID, TIPO_FAB)
    VALUES (@fabricante_id, @apresentacao_id, @fab_tipo) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertFormasFarmaceuticasJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertFormasFarmaceuticasJson](
@formas_desc varchar(500) = NULL,
@apresentacao_id int = NULL)
AS    
BEGIN
DECLARE @formas_id int
--ROTULO
INSERT INTO carga.FORMAS_FARMACEUTICAS(FORMAS_FARMACEUTICAS_DESC) VALUES (@formas_desc)
SET @formas_id = SCOPE_IDENTITY()

INSERT INTO carga.FORMAS_APRESENTACAO(FORMAS_FARMACEUTICAS_ID, APRESENTACAO_ID) VALUES (@formas_id, @apresentacao_id) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertMarcaJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertMarcaJson](
@marca_desc varchar(500) = NULL,
@apresentacao_id int = NULL)
AS    
BEGIN
DECLARE @marca_id int
--ROTULO
INSERT INTO carga.MARCA(MARCA_DESC) VALUES (@marca_desc)
SET @marca_id = SCOPE_IDENTITY()

INSERT INTO carga.MARCA_APRESENTACAO(MARCA_ID, APRESENTACAO_ID) VALUES (@marca_id, @apresentacao_id) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertMaterialContentJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertMaterialContentJson](

@material_id int NULL,
--EMPRESA
@emp_cnpj varchar(20) NULL,
@emp_razaoSocial varchar(2000) = NULL,
@emp_numeroAutorizacao int = NULL,
@emp_cnpjFormatado varchar(20) = NULL,
@emp_autorizacao varchar(2000) = NULL,

--VENCIMENTO
@ven_data date = NULL, 
@ven_descricao varchar(2000) = NULL,

--MENSAGEM
@msg_situacao varchar(2000) = NULL,
@msg_resolucao varchar(2000) = NULL,
@msg_motivo varchar(2000) = NULL,
@msg_negativo bit = NULL,
 
 --CLASSE_RISCO
 @clr_sigla varchar(5) = NULL ,
 @clr_descricao varchar(500) = NULL,

--CONTENT_MATERIAL
 @cont_processo varchar(40) = NULL,
 @cont_descproduto varchar(max) = NULL,
 @cont_codanv numeric(18,0) = NULL,
 @cont_situacao varchar(4000) = NULL,
 @cont_nomeTecnico varchar(4000) = NULL,
 @cont_cancelado bit = NULL,
 @cont_dataCancelamento date = NULL ,
 @cont_publicacao date = NULL,
 @cont_apresentacaoModelo bit = NULL
 )

AS    

BEGIN
DECLARE @empresa_id AS int
DECLARE @vencimento_Id AS int
DECLARE @msg_Id AS int
DECLARE @clr_id AS int 


IF NOT EXISTS (SELECT * FROM CONTENT_MATERIAL WHERE PROCESSO = @cont_processo)
BEGIN
	--EMPRESA
	IF NOT EXISTS(SELECT * FROM EMPRESA WHERE CNPJ = @emp_cnpj)
	BEGIN 
	INSERT INTO EMPRESA (CNPJ, RAZAO_SOCIAL, NUMEROAUTORIZACAO, CNPJFORMATADO, AUTORIZACAO)
	  VALUES(@emp_cnpj, @emp_razaoSocial, @emp_numeroAutorizacao, @emp_cnpjFormatado, @emp_autorizacao)
	SET @empresa_id  = SCOPE_IDENTITY()
	END
	ELSE 
	BEGIN
	SET @empresa_id = (SELECT ID_EMPRESA FROM EMPRESA WHERE CNPJ = @emp_cnpj)
	END
	
	--VENCIMENTO
	INSERT INTO VENCIMENTO( DATA, DESCRICAO)
	  VALUES(@ven_data, @ven_descricao)
	
	SET @vencimento_Id  = SCOPE_IDENTITY()
	
	--MENSAGEM
	INSERT INTO MENSAGEM (SITUACAO, RESOLUCAO, MOTIVO, NEGATIVO)
	  VALUES( @msg_situacao , @msg_resolucao,@msg_motivo, @msg_negativo)		  
	
	SET @msg_Id  = SCOPE_IDENTITY()
	
	--CLASSE_RISCO
	INSERT INTO CLASSE_RISCO (SIGLA, DESCRICAO)
	VALUES (@clr_sigla, @clr_descricao)
	
	SET @clr_id = SCOPE_IDENTITY()
	
	--CONTENT_MATERIAL
	INSERT INTO CONTENT_MATERIAL(MATERIAL_ID, EMPRESA_ID, MSG_ID, VENCIMENTO_ID, CLASSE_RISCO_ID, PROCESSO, DESC_PRODUTO, COD_ANV, SITUACAO, NOME_TECNICO,CANCELADO, DATA_CANCELAMENTO, PUBLICACAO, APRESENTACAOMODELO)
	VALUES( @material_id,@empresa_id, @msg_Id, @vencimento_Id, @clr_id, @cont_processo, @cont_descproduto, @cont_codanv,@cont_situacao, 
	        @cont_nomeTecnico, @cont_cancelado, @cont_dataCancelamento, @cont_publicacao, @cont_apresentacaoModelo)
	
	DECLARE @content_id AS int
	SET @content_id = SCOPE_IDENTITY()
	
	SELECT @content_id AS CONTENT_ID
	
	RETURN;	
END
ELSE 
BEGIN 
	SELECT 0 AS CONTENT_ID
	RETURN;	
END
END
GO
/****** Object:  StoredProcedure [carga].[InsertMaterialJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertMaterialJson](
--MATERIAL
@mat_totaElements int NULL,
@mat_totalpages int NULL,
@mat_lastpage bit NULL,
@mat_numberselements int NULL,
@mat_firstpage bit NULL,
@mat_sort int NULL,
@mat_number int NULL,
@mat_size int NULL)
AS    
BEGIN
DECLARE @material_id AS int

--MATERIAL
  INSERT INTO MATERIAL ( TOTALELEMENTS, TOTALPAGES, LASTPAGE, NUMBERSELEMENTS, FIRSTPAGE, SORT, NUMBER, SIZE)
    VALUES(@mat_totaElements, @mat_totalpages,@mat_lastpage, @mat_numberselements, @mat_firstpage, @mat_sort, @mat_number, @mat_size)

SET @material_id  = SCOPE_IDENTITY()

SELECT @material_id AS MATERIAL_ID

RETURN;	
END
GO
/****** Object:  StoredProcedure [carga].[InsertPrincipioAtivoJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertPrincipioAtivoJson](
@principio_ativo_desc varchar(500) = NULL,
@apresentacao_id int = NULL)
AS    
BEGIN
DECLARE @principio_ativo_id int
--ROTULO
INSERT INTO carga.PRINCIPIO_ATIVO(PRINCIPIO_ATIVO_DESC) VALUES (@principio_ativo_desc)
SET @principio_ativo_id = SCOPE_IDENTITY()

INSERT INTO carga.PRINCIPIO_ATIVO_APRESENTACAO(PRINCIPIO_ATIVO_ID, APRESENTACAO_ID) VALUES (@principio_ativo_id, @apresentacao_id) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertRestriacaoPrescricaoJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertRestriacaoPrescricaoJson](
@restricao_desc varchar(500) = NULL,
@apresentacao_id int = NULL)
AS    
BEGIN
DECLARE @restricao_id int
--ROTULO

IF NOT EXISTS( SELECT * FROM carga.RESTRICAO_PRESCRICAO WHERE RESTRICAO_PRESCRICAO_DESC = @restricao_desc)
BEGIN
INSERT INTO carga.RESTRICAO_PRESCRICAO(RESTRICAO_PRESCRICAO_DESC) VALUES (@restricao_desc)
SET @restricao_id = SCOPE_IDENTITY()

END
ELSE 
BEGIN
SET @restricao_id = (SELECT TOP 1 RESTRICAO_PRESCRICAO_ID FROM carga.RESTRICAO_PRESCRICAO WHERE RESTRICAO_PRESCRICAO_DESC = @restricao_desc)

END

INSERT INTO carga.RESTRICAO_PRESC_APRESENTACAO(RESTRICAO_PRESCRICAO_ID, APRESENTACAO_ID) VALUES (@restricao_id, @apresentacao_id) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertRestriacaoUsoJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertRestriacaoUsoJson](
@restricaoUso_desc varchar(500) = NULL,
@apresentacao_id int = NULL)
AS    
BEGIN
DECLARE @restricao_id int
--ROTULO

IF NOT EXISTS( SELECT * FROM carga.RESTRICAO_USO WHERE RESTRICAO_USO_DESC = @restricaoUso_desc)
BEGIN
    INSERT INTO carga.RESTRICAO_USO(RESTRICAO_USO_DESC) VALUES (@restricaoUso_desc)
 SET @restricao_id = SCOPE_IDENTITY()

END
ELSE 
BEGIN
SET @restricao_id = (SELECT TOP 1 RESTRICAO_USO_ID FROM carga.RESTRICAO_USO WHERE RESTRICAO_USO_DESC = @restricaoUso_desc)

END

INSERT INTO carga.RESTRICAO_US0_APRESENTACAO(RESTRICAO_USO_ID, APRESENTACAO_ID) VALUES (@restricao_id, @apresentacao_id) 
END
GO
/****** Object:  StoredProcedure [carga].[InsertRotuloJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertRotuloJson](
@rotulo_desc varchar(500) = NULL,
@med_id int = NULL)
AS    
BEGIN
DECLARE @rotulo_id int
--ROTULO
INSERT INTO carga.ROTULO (ROTULO_DESC) VALUES (@rotulo_desc)
SET @rotulo_id = SCOPE_IDENTITY()

INSERT INTO carga.ROTULO_MEDICAMENTO(ROTULO_ID, MEDICAMENTO_ID) VALUES (@rotulo_id, @med_id) 
END




GO
/****** Object:  StoredProcedure [dbo].[InsertApresentacaoMedicamentoJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertApresentacaoMedicamentoJson](
 @med_id int 
--EMBALAGEM
 ,@embp_tipo varchar(20) NULL
 ,@embp_observacao varchar(2000) = NULL

--EMBALAGEM Secundaria
,@embs_tipo varchar(20) NULL
,@embs_observacao varchar(2000) = NULL

--APRESENTACAO
  ,@apres_codigo int = NULL
  ,@apres_numero int = NULL
  ,@apres_totalidade int = NULL
  ,@apres_apresentacao varchar(2000) = NULL
  ,@apres_dataPublicacao date = NULL
  ,@apres_validade varchar(20) = NULL
  ,@apres_tipoValidade varchar(200) = NULL
  ,@apres_registro numeric(18,0)
  ,@apres_acondicionamento varchar(20) = NULL
  ,@apres_complemento varchar(2000) = NULL
  ,@apres_restricaoHospitais varchar(20) = NULL
  ,@apres_tarja varchar(20) = NULL
  ,@apres_medicamentoReferencia varchar(20) = NULL
  ,@apres_apresentacaoFracionada varchar(20) = NULL
  ,@apres_dataVencimentoRegistro date = NULL
  ,@apres_ativa bit = NULL
  ,@apres_inativa bit = NULL
  ,@apres_emAnalise bit = NULL
  ,@apres_ifaUnico bit = NULL)
AS    
BEGIN
DECLARE @apresentacao_id AS int
DECLARE @embp_id AS int
DECLARE @embs_id AS int

	--EMBALAGEM
	IF(@embp_tipo IS NULL AND @embp_observacao IS NULL  )
	BEGIN
	INSERT INTO [carga].[EMBALAGEM_PRIMARIA] ([EMBALAGEM_PRIMARIA_TIPO],[EMBALAGEM_PRIMARIA_OBS])
     VALUES(@embp_tipo ,@embp_observacao )
	
	SET @embp_id = SCOPE_IDENTITY()
	END

	IF(@embs_tipo IS NULL AND @embs_observacao IS NULL  )
	BEGIN
	INSERT INTO [carga].[EMBALAGEM_SECUNDARIA]([EMBALAGEM_SECUNDARIA_TIPO],[EMBALAGEM_SECUNDARIA_OBS])
     VALUES(@embs_tipo ,@embs_observacao )
	SET @embs_id = SCOPE_IDENTITY()
	END

--MEDICAMENTO
INSERT INTO [carga].[APRESENTACAO]
           ([MEDICAMENTO_ID],[EMBALAGEM_PRIMARIA_ID],[EMBALAGEM_SECUNDARIA_ID]
           ,[COD_APRESENTACAO],[APRESENTACAO],[NUMERO_APRESENTACAO],[TOTALIDADE_APRESENTACAO]
           ,[DATA_PUBLICACAO],[VALIDADE_PROD_MESES],[TIPO_VALIDADE],[COD_ANV_APRESENTACAO]
           ,[COMPLEMENTO_APRESENTACAO],[ACONDICIONADO],[IF_UNICO],[RESTRICAO_HOSPITAIS],[MEDICAMENTO_REFERENCIA]
           ,[APRESENTACAO_FRACIONADA],[DATA_VENCIMENTO_REGISTRO],[ATIVO],[INATIVO],[EM_ANALISE],[TARJA])
     VALUES
           (
   @med_id
  ,@embp_id
  ,@embs_id		    
  ,@apres_codigo
  ,@apres_apresentacao
  ,@apres_numero
  ,@apres_totalidade
  ,@apres_dataPublicacao
  ,@apres_validade
  ,@apres_tipoValidade
  ,@apres_registro
  ,@apres_complemento
  ,@apres_acondicionamento
  ,@apres_ifaUnico
  ,@apres_restricaoHospitais
  ,@apres_medicamentoReferencia
  ,@apres_apresentacaoFracionada
  ,@apres_dataVencimentoRegistro
  ,@apres_ativa
  ,@apres_inativa
  ,@apres_emAnalise
  ,@apres_tarja)

SET @apresentacao_id = SCOPE_IDENTITY()

SELECT @apresentacao_id AS MEDICAMENTO_ID

RETURN;	
END
GO
/****** Object:  StoredProcedure [dbo].[InsertMedicamentoJson]    Script Date: 09/04/2019 17:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertMedicamentoJson](

--EMPRESA
 @emp_cnpj varchar(20) NULL
,@emp_razaoSocial varchar(2000) = NULL
,@emp_numeroAutorizacao int = NULL
,@emp_cnpjFormatado varchar(20) = NULL
,@emp_autorizacao varchar(2000) = NULL

--PROCESSO
,@proc_numero_processo numeric(18,0) = NULL
,@proc_situacao numeric(18,0) = NULL
,@proc_processo_formatado varchar(300) = NULL

--MEDICAMENTO
,@med_codigo_prod int = NULL 
,@med_tipo_prod	int = NULL
,@med_data_prod	date = NULL
,@med_nome_comercial varchar(max) = NULL
,@med_cod_anvisa_med numeric(18,0)
,@med_data_vencimento date = NULL
,@med_mes_ano_vencimento varchar(10) = NULL
,@med_cod_parecer_publico varchar(50) = NULL
,@med_cod_bula_pacientes varchar(2000) = NULL
,@med_cod_bula_profissional varchar(2000) = NULL
,@med_data_vencimento_registro date = NULL
,@med_principio_ativo varchar(200) = NULL 
,@med_medicamento_referencia varchar(200) = NULL
,@med_categoria_regulatoria varchar(200) = NULL
,@med_atc varchar(100) = NULL

)
AS    
BEGIN
DECLARE @med_id AS int
DECLARE @empresa_id AS int
DECLARE @processo_id AS int

IF NOT EXISTS (SELECT * FROM carga.PROCESSO WHERE NUMERO_PROCESSO = @proc_numero_processo)
BEGIN
--EMPRESA
	IF NOT EXISTS(SELECT * FROM carga.EMPRESA WHERE CNPJ = @emp_cnpj)
	BEGIN 
	INSERT INTO carga.EMPRESA (CNPJ, RAZAO_SOCIAL, NUMEROAUTORIZACAO, CNPJFORMATADO, AUTORIZACAO)
	  VALUES(@emp_cnpj, @emp_razaoSocial, @emp_numeroAutorizacao, @emp_cnpjFormatado, @emp_autorizacao)
	SET @empresa_id  = SCOPE_IDENTITY()
	END
	ELSE 
	BEGIN
	SET @empresa_id = (SELECT ID_EMPRESA FROM carga.EMPRESA WHERE CNPJ = @emp_cnpj)
	END

	--PROCESSO
	INSERT INTO [carga].[PROCESSO]
           ([NUMERO_PROCESSO]
           ,[SITUACAO]
           ,[PROCESSO_FORMATADO])
     VALUES
           (@proc_numero_processo 
		   ,@proc_situacao 
		   ,@proc_processo_formatado )
	
	SET @processo_id = SCOPE_IDENTITY()

--MEDICAMENTO
 INSERT INTO [carga].[MEDICAMENTO_CONTENT]
           ([PROCESSO_ID]
		   ,[ID_EMPRESA]
		   ,[CODIGO_PROD]
		   ,[TIPO_PROD]
           ,[DATA_PROD]
		   ,[NOME_COMERCIAL]
		   ,[COD_ANVISA_MED]
		   ,[DATA_VENCIMENTO]
		   ,[MES_ANO_VENCIMENTO]
		   ,[COD_PARECER_PUBLICO]
           ,[COD_BULA_PACIENTES]
		   ,[COD_BULA_PROFISSIONAL]
		   ,[DATA_VENCIMENTO_REGISTRO]
		   ,[PRINCIPIO_ATIVO]
		   ,[MEDICAMENTO_REFERENCIA]
		   ,[CATEGORIA_TERAPEUTICA]
		   ,[ATC]
           )
     VALUES
           (@processo_id
		   ,@empresa_id 			  
		   ,@med_codigo_prod
		   ,@med_tipo_prod
		   ,@med_data_prod
		   ,@med_nome_comercial		  
		   ,@med_cod_anvisa_med
		   ,@med_data_vencimento
		   ,@med_mes_ano_vencimento
		   ,@med_cod_parecer_publico     
		   ,@med_cod_bula_pacientes
		   ,@med_cod_bula_profissional
		   ,@med_data_vencimento_registro
		   ,@med_principio_ativo
		   ,@med_medicamento_referencia
		   ,@med_categoria_regulatoria 
		   ,@med_atc)

SET @med_id = SCOPE_IDENTITY()

SELECT @med_id AS MEDICAMENTO_ID

RETURN;	
END
ELSE
BEGIN
  SELECT 0 AS MEDICAMENTO_ID
 RETURN;	

END
END
GO
