USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[APRESENTACAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[APRESENTACAO](
	[APRESENTACAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[MEDICAMENTO_ID] [int] NULL,
	[EMBALAGEM_PRIMARIA_ID] [int] NULL,
	[EMBALAGEM_SECUNDARIA_ID] [int] NULL,
	[COD_APRESENTACAO] [int] NULL,
	[APRESENTACAO] [varchar](2000) NULL,
	[NUMERO_APRESENTACAO] [int] NULL,
	[TOTALIDADE_APRESENTACAO] [int] NULL,
	[DATA_PUBLICACAO] [date] NULL,
	[VALIDADE_PROD_MESES] [int] NULL,
	[TIPO_VALIDADE] [int] NULL,
	[COD_ANV_APRESENTACAO] [numeric](18, 0) NULL,
	[COMPLEMENTO_APRESENTACAO] [varchar](500) NULL,
	[ACONDICIONADO] [varchar](500) NULL,
	[IF_UNICO] [bit] NULL,
	[RESTRICAO_HOSPITAIS] [bit] NULL,
	[MEDICAMENTO_REFERENCIA] [bit] NULL,
	[APRESENTACAO_FRACIONADA] [bit] NULL,
	[DATA_VENCIMENTO_REGISTRO] [date] NULL,
	[ATIVO] [bit] NULL,
	[INATIVO] [bit] NULL,
	[EM_ANALISE] [bit] NULL,
	[TARJA] [varchar](200) NULL,
 CONSTRAINT [key] PRIMARY KEY CLUSTERED 
(
	[APRESENTACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [carga].[APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_EMB_PRI_APRESENTACAO] FOREIGN KEY([EMBALAGEM_PRIMARIA_ID])
REFERENCES [carga].[EMBALAGEM_PRIMARIA] ([EMBALAGEM_PRIMARIA_ID])
GO
ALTER TABLE [carga].[APRESENTACAO] CHECK CONSTRAINT [FK_EMB_PRI_APRESENTACAO]
GO
ALTER TABLE [carga].[APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_EMB_SEC_APRESENTACAO] FOREIGN KEY([EMBALAGEM_SECUNDARIA_ID])
REFERENCES [carga].[EMBALAGEM_SECUNDARIA] ([EMBALAGEM_SECUNDARIA_ID])
GO
ALTER TABLE [carga].[APRESENTACAO] CHECK CONSTRAINT [FK_EMB_SEC_APRESENTACAO]
GO
ALTER TABLE [carga].[APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_APRESENTACAO] FOREIGN KEY([MEDICAMENTO_ID])
REFERENCES [carga].[MEDICAMENTO_CONTENT] ([MEDICAMENTO_ID])
GO
ALTER TABLE [carga].[APRESENTACAO] CHECK CONSTRAINT [FK_MEDICAMENTO_APRESENTACAO]
GO
