USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[RESTRICAO_PRESC_APRESENTACAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[RESTRICAO_PRESC_APRESENTACAO](
	[RESTRICAO_PRESCRICAO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[RESTRICAO_PRESC_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_REST_PRES] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[RESTRICAO_PRESC_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_REST_PRES]
GO
ALTER TABLE [carga].[RESTRICAO_PRESC_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_REST_PRES_APRES] FOREIGN KEY([RESTRICAO_PRESCRICAO_ID])
REFERENCES [carga].[RESTRICAO_PRESCRICAO] ([RESTRICAO_PRESCRICAO_ID])
GO
ALTER TABLE [carga].[RESTRICAO_PRESC_APRESENTACAO] CHECK CONSTRAINT [FK_REST_PRES_APRES]
GO
