USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[FABRICANTE_CONTENT]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[FABRICANTE_CONTENT](
	[CONTENT_ID] [int] NULL,
	[FABRICANTE_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[FABRICANTE_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_FABRICANTE] FOREIGN KEY([CONTENT_ID])
REFERENCES [carga].[CONTENT_MATERIAL] ([CONTENT_ID])
GO
ALTER TABLE [carga].[FABRICANTE_CONTENT] CHECK CONSTRAINT [FK_CONTENT_FABRICANTE]
GO
ALTER TABLE [carga].[FABRICANTE_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_FABRICANTE_CONTENT] FOREIGN KEY([FABRICANTE_ID])
REFERENCES [carga].[FABRICANTE] ([FABRICANTE_ID])
GO
ALTER TABLE [carga].[FABRICANTE_CONTENT] CHECK CONSTRAINT [FK_FABRICANTE_CONTENT]
GO
