USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[APRESENTACAO_CONTENT]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[APRESENTACAO_CONTENT](
	[APRESENTACAO_ID] [int] NULL,
	[CONTENT_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[APRESENTACAO_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_APRESENTACAO_CONTENT] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAOMATERIAL] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[APRESENTACAO_CONTENT] CHECK CONSTRAINT [FK_APRESENTACAO_CONTENT]
GO
ALTER TABLE [carga].[APRESENTACAO_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_APRESENTACAO] FOREIGN KEY([CONTENT_ID])
REFERENCES [carga].[CONTENT_MATERIAL] ([CONTENT_ID])
GO
ALTER TABLE [carga].[APRESENTACAO_CONTENT] CHECK CONSTRAINT [FK_CONTENT_APRESENTACAO]
GO
