USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[PRINCIPIO_ATIVO_APRESENTACAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[PRINCIPIO_ATIVO_APRESENTACAO](
	[PRINCIPIO_ATIVO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[PRINCIPIO_ATIVO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRESENTACAO_PRINCIPIO] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[PRINCIPIO_ATIVO_APRESENTACAO] CHECK CONSTRAINT [FK_APRESENTACAO_PRINCIPIO]
GO
ALTER TABLE [carga].[PRINCIPIO_ATIVO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_PRINCIPIO_APRESENTACAO] FOREIGN KEY([PRINCIPIO_ATIVO_ID])
REFERENCES [carga].[PRINCIPIO_ATIVO] ([PRINCIPIO_ATIVO_ID])
GO
ALTER TABLE [carga].[PRINCIPIO_ATIVO_APRESENTACAO] CHECK CONSTRAINT [FK_PRINCIPIO_APRESENTACAO]
GO
