USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[FORMAS_APRESENTACAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[FORMAS_APRESENTACAO](
	[APRESENTACAO_ID] [int] NULL,
	[FORMAS_FARMACEUTICAS_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[FORMAS_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRESENTACAO_FORMAS] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[FORMAS_APRESENTACAO] CHECK CONSTRAINT [FK_APRESENTACAO_FORMAS]
GO
ALTER TABLE [carga].[FORMAS_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_FORMAS_APRESENTACAO] FOREIGN KEY([FORMAS_FARMACEUTICAS_ID])
REFERENCES [carga].[FORMAS_FARMACEUTICAS] ([FORMAS_FARMACEUTICAS_ID])
GO
ALTER TABLE [carga].[FORMAS_APRESENTACAO] CHECK CONSTRAINT [FK_FORMAS_APRESENTACAO]
GO
