USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[RESTRICAO_PRESCRICAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[RESTRICAO_PRESCRICAO](
	[RESTRICAO_PRESCRICAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[RESTRICAO_PRESCRICAO_DESC] [varchar](7000) NULL,
 CONSTRAINT [RESTRICAO_PRESCRICAO_ID] PRIMARY KEY CLUSTERED 
(
	[RESTRICAO_PRESCRICAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
