USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[VENCIMENTO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[VENCIMENTO](
	[VENCIMENTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [date] NULL,
	[DESCRICAO] [varchar](2000) NULL,
 CONSTRAINT [VENCIMENTO_ID] PRIMARY KEY CLUSTERED 
(
	[VENCIMENTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
