USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[MENSAGEM]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[MENSAGEM](
	[ID_MSG] [int] IDENTITY(1,1) NOT NULL,
	[SITUACAO] [varchar](2000) NULL,
	[RESOLUCAO] [varchar](2000) NULL,
	[MOTIVO] [varchar](2000) NULL,
	[NEGATIVO] [bit] NULL,
 CONSTRAINT [ID_MSG] PRIMARY KEY CLUSTERED 
(
	[ID_MSG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
