USE [SUPORTE_II]
GO
/****** Object:  StoredProcedure [carga].[InsertFormasFarmaceuticasJson]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [carga].[InsertFormasFarmaceuticasJson](
@formas_desc varchar(500) = NULL,
@apresentacao_id int = NULL)
AS    
BEGIN
DECLARE @formas_id int
--FORMAS_FARMACEUTICAS
IF NOT EXISTS (SELECT * FROM carga.FORMAS_FARMACEUTICAS WHERE FORMAS_FARMACEUTICAS_DESC = @formas_desc)
 BEGIN
   INSERT INTO carga.FORMAS_FARMACEUTICAS(FORMAS_FARMACEUTICAS_DESC) VALUES (@formas_desc)
   SET @formas_id = SCOPE_IDENTITY()
 END
 ELSE
 BEGIN
   SET @formas_id =(SELECT FORMAS_FARMACEUTICAS_ID FROM carga.FORMAS_FARMACEUTICAS WHERE FORMAS_FARMACEUTICAS_DESC = @formas_desc)
 END
INSERT INTO carga.FORMAS_APRESENTACAO(FORMAS_FARMACEUTICAS_ID, APRESENTACAO_ID) VALUES (@formas_id, @apresentacao_id) 
END
GO
