USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[EMPRESA]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[EMPRESA](
	[ID_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[CNPJ] [varchar](20) NULL,
	[RAZAO_SOCIAL] [varchar](2000) NULL,
	[NUMEROAUTORIZACAO] [int] NULL,
	[CNPJFORMATADO] [varchar](30) NULL,
	[AUTORIZACAO] [varchar](2000) NULL,
 CONSTRAINT [ID_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
