USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[PROCESSO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[PROCESSO](
	[PROCESSO_ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO_PROCESSO] [numeric](18, 0) NULL,
	[SITUACAO] [int] NOT NULL,
	[PROCESSO_FORMATADO] [varchar](300) NULL,
 CONSTRAINT [PROCESSO_ID] PRIMARY KEY CLUSTERED 
(
	[PROCESSO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
