USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[APRESENTACAOMATERIAL]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[APRESENTACAOMATERIAL](
	[APRESENTACAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[MODELO] [varchar](max) NULL,
	[COMPONENTE] [varchar](max) NULL,
	[APRESENTACAO] [varchar](max) NULL,
 CONSTRAINT [APRESENTACAO_ID] PRIMARY KEY CLUSTERED 
(
	[APRESENTACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
