USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[CONSERVACAO_APRESENTACAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[CONSERVACAO_APRESENTACAO](
	[CONSERVACAO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[CONSERVACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_CONSERVACAO] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[CONSERVACAO_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_CONSERVACAO]
GO
ALTER TABLE [carga].[CONSERVACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_CONSERVACAO_APRES] FOREIGN KEY([CONSERVACAO_ID])
REFERENCES [carga].[CONSERVACAO] ([CONSERVACAO_ID])
GO
ALTER TABLE [carga].[CONSERVACAO_APRESENTACAO] CHECK CONSTRAINT [FK_CONSERVACAO_APRES]
GO
