USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[EMBALAGEM_PRIMARIA]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[EMBALAGEM_PRIMARIA](
	[EMBALAGEM_PRIMARIA_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMBALAGEM_PRIMARIA_TIPO] [varchar](200) NULL,
	[EMBALAGEM_PRIMARIA_OBS] [varchar](200) NULL,
 CONSTRAINT [EMBALAGEM_PRIMARIA_ID] PRIMARY KEY CLUSTERED 
(
	[EMBALAGEM_PRIMARIA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
