USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[MEDICAMENTO_CONTENT]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[MEDICAMENTO_CONTENT](
	[MEDICAMENTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NULL,
	[PROCESSO_ID] [int] NOT NULL,
	[CODIGO_PROD] [int] NULL,
	[TIPO_PROD] [int] NULL,
	[DATA_PROD] [date] NULL,
	[NOME_COMERCIAL] [varchar](max) NULL,
	[COD_ANVISA_MED] [numeric](18, 0) NULL,
	[DATA_VENCIMENTO] [date] NULL,
	[MES_ANO_VENCIMENTO] [varchar](10) NULL,
	[COD_PARECER_PUBLICO] [varchar](50) NULL,
	[DATA_VENCIMENTO_REGISTRO] [date] NULL,
	[PRINCIPIO_ATIVO] [varchar](200) NULL,
	[MEDICAMENTO_REFERENCIA] [varchar](200) NULL,
	[CATEGORIA_TERAPEUTICA] [varchar](200) NULL,
	[ATC] [varchar](100) NULL,
	[APRESENTACAO_ID] [int] NULL,
	[COD_BULA_PACIENTES] [varchar](2000) NULL,
	[COD_BULA_PROFISSIONAL] [varchar](2000) NULL,
 CONSTRAINT [MEDICAMENTO_ID] PRIMARY KEY CLUSTERED 
(
	[MEDICAMENTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [carga].[MEDICAMENTO_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_MED] FOREIGN KEY([ID_EMPRESA])
REFERENCES [carga].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [carga].[MEDICAMENTO_CONTENT] CHECK CONSTRAINT [FK_EMPRESA_MED]
GO
ALTER TABLE [carga].[MEDICAMENTO_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_PROCESSO] FOREIGN KEY([PROCESSO_ID])
REFERENCES [carga].[PROCESSO] ([PROCESSO_ID])
GO
ALTER TABLE [carga].[MEDICAMENTO_CONTENT] CHECK CONSTRAINT [FK_MEDICAMENTO_PROCESSO]
GO
