USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[FABRICANTE]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[FABRICANTE](
	[FABRICANTE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ATIVIDADE] [varchar](2000) NULL,
	[RAZAOSOCIAL] [varchar](2000) NULL,
	[PAIS] [varchar](300) NULL,
	[LOCAL] [varchar](300) NULL,
 CONSTRAINT [FABRICANTE_ID] PRIMARY KEY CLUSTERED 
(
	[FABRICANTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
