USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[MARCA_APRESENTACAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[MARCA_APRESENTACAO](
	[MARCA_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[MARCA_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_MARCA] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[MARCA_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_MARCA]
GO
ALTER TABLE [carga].[MARCA_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_MARCA_APRES] FOREIGN KEY([MARCA_ID])
REFERENCES [carga].[MARCA] ([MARCA_ID])
GO
ALTER TABLE [carga].[MARCA_APRESENTACAO] CHECK CONSTRAINT [FK_MARCA_APRES]
GO
