USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[PRINCIPIO_ATIVO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[PRINCIPIO_ATIVO](
	[PRINCIPIO_ATIVO_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRINCIPIO_ATIVO_DESC] [varchar](500) NULL,
 CONSTRAINT [PRINCIPIO_ATIVO_ID] PRIMARY KEY CLUSTERED 
(
	[PRINCIPIO_ATIVO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
