USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[RESTRICAO_US0_APRESENTACAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[RESTRICAO_US0_APRESENTACAO](
	[RESTRICAO_USO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[RESTRICAO_US0_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_REST] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[RESTRICAO_US0_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_REST]
GO
ALTER TABLE [carga].[RESTRICAO_US0_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_REST_APRES] FOREIGN KEY([RESTRICAO_USO_ID])
REFERENCES [carga].[RESTRICAO_USO] ([RESTRICAO_USO_ID])
GO
ALTER TABLE [carga].[RESTRICAO_US0_APRESENTACAO] CHECK CONSTRAINT [FK_REST_APRES]
GO
