USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[DESTINACAO_APRESENTACAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[DESTINACAO_APRESENTACAO](
	[DESTINACAO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[DESTINACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_DEST] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[DESTINACAO_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_DEST]
GO
ALTER TABLE [carga].[DESTINACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_DEST_APRES] FOREIGN KEY([DESTINACAO_ID])
REFERENCES [carga].[DESTINACAO] ([DESTINACAO_ID])
GO
ALTER TABLE [carga].[DESTINACAO_APRESENTACAO] CHECK CONSTRAINT [FK_DEST_APRES]
GO
