USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[FORMAS_FARMACEUTICAS]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[FORMAS_FARMACEUTICAS](
	[FORMAS_FARMACEUTICAS_ID] [int] IDENTITY(1,1) NOT NULL,
	[FORMAS_FARMACEUTICAS_DESC] [varchar](500) NULL,
 CONSTRAINT [Key8] PRIMARY KEY CLUSTERED 
(
	[FORMAS_FARMACEUTICAS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
