USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[MARCA]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[MARCA](
	[MARCA_ID] [int] IDENTITY(1,1) NOT NULL,
	[MARCA_DESC] [varchar](200) NULL,
 CONSTRAINT [MARCA_ID] PRIMARY KEY CLUSTERED 
(
	[MARCA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
