USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[ADMINISTRACAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ADMINISTRACAO](
	[ADMINISTRACAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADMINISTRACAO_DESC] [varchar](300) NULL,
 CONSTRAINT [ADMINISTRACAO_ID] PRIMARY KEY CLUSTERED 
(
	[ADMINISTRACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
