USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[CLASSE_RISCO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[CLASSE_RISCO](
	[CLASSE_RISCO_ID] [int] IDENTITY(1,1) NOT NULL,
	[SIGLA] [varchar](5) NULL,
	[DESCRICAO] [varchar](500) NULL,
 CONSTRAINT [CLASSE_RISCO_ID] PRIMARY KEY CLUSTERED 
(
	[CLASSE_RISCO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
