USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[CLASSE_MEDICAMENTO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[CLASSE_MEDICAMENTO](
	[CLASSE_TERAPEUTICA_ID] [int] NULL,
	[MEDICAMENTO_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[CLASSE_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_CLASSE_MED] FOREIGN KEY([CLASSE_TERAPEUTICA_ID])
REFERENCES [carga].[CLASSE_TERAPEUTICA] ([CLASSE_TERAPEUTICA_ID])
GO
ALTER TABLE [carga].[CLASSE_MEDICAMENTO] CHECK CONSTRAINT [FK_CLASSE_MED]
GO
ALTER TABLE [carga].[CLASSE_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_CLASSE] FOREIGN KEY([MEDICAMENTO_ID])
REFERENCES [carga].[MEDICAMENTO_CONTENT] ([MEDICAMENTO_ID])
GO
ALTER TABLE [carga].[CLASSE_MEDICAMENTO] CHECK CONSTRAINT [FK_MEDICAMENTO_CLASSE]
GO
