USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[CONTENT_MATERIAL]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[CONTENT_MATERIAL](
	[CONTENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MATERIAL_ID] [int] NULL,
	[EMPRESA_ID] [int] NOT NULL,
	[MSG_ID] [int] NOT NULL,
	[VENCIMENTO_ID] [int] NULL,
	[CLASSE_RISCO_ID] [int] NULL,
	[PROCESSO] [varchar](40) NULL,
	[DESC_PRODUTO] [varchar](max) NULL,
	[COD_ANV] [numeric](18, 0) NULL,
	[SITUACAO] [varchar](4000) NULL,
	[NOME_TECNICO] [varchar](4000) NULL,
	[CANCELADO] [bit] NULL,
	[DATA_CANCELAMENTO] [date] NULL,
	[PUBLICACAO] [date] NULL,
	[APRESENTACAOMODELO] [bit] NULL,
 CONSTRAINT [CONTENT_ID] PRIMARY KEY CLUSTERED 
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [carga].[CONTENT_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_CLASSE_RISCO_CONTENT] FOREIGN KEY([CLASSE_RISCO_ID])
REFERENCES [carga].[CLASSE_RISCO] ([CLASSE_RISCO_ID])
GO
ALTER TABLE [carga].[CONTENT_MATERIAL] CHECK CONSTRAINT [FK_CLASSE_RISCO_CONTENT]
GO
ALTER TABLE [carga].[CONTENT_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_MSG] FOREIGN KEY([MSG_ID])
REFERENCES [carga].[MENSAGEM] ([ID_MSG])
GO
ALTER TABLE [carga].[CONTENT_MATERIAL] CHECK CONSTRAINT [FK_CONTENT_MSG]
GO
ALTER TABLE [carga].[CONTENT_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_CONTENT] FOREIGN KEY([EMPRESA_ID])
REFERENCES [carga].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [carga].[CONTENT_MATERIAL] CHECK CONSTRAINT [FK_EMPRESA_CONTENT]
GO
ALTER TABLE [carga].[CONTENT_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_ID_MATERIAL_CONTENT] FOREIGN KEY([MATERIAL_ID])
REFERENCES [carga].[MATERIAL] ([ID_MATERIAL])
GO
ALTER TABLE [carga].[CONTENT_MATERIAL] CHECK CONSTRAINT [FK_ID_MATERIAL_CONTENT]
GO
ALTER TABLE [carga].[CONTENT_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_VENCIMENTO_CONTENT] FOREIGN KEY([VENCIMENTO_ID])
REFERENCES [carga].[VENCIMENTO] ([VENCIMENTO_ID])
GO
ALTER TABLE [carga].[CONTENT_MATERIAL] CHECK CONSTRAINT [FK_VENCIMENTO_CONTENT]
GO
