USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[FABRICANTE_MEDICAMENTO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[FABRICANTE_MEDICAMENTO](
	[FABRICANTES_ID] [int] IDENTITY(1,1) NOT NULL,
	[RAZAO_SOCIAL] [varchar](500) NULL,
	[CNPJ] [varchar](20) NULL,
	[PAIS] [varchar](200) NULL,
	[UF] [varchar](200) NULL,
	[CIDADE] [varchar](500) NULL,
	[ENDERECO] [varchar](1000) NULL,
 CONSTRAINT [FABRICANTES_ID] PRIMARY KEY CLUSTERED 
(
	[FABRICANTES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
