USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[ENVOLTORIO_APRESENTACAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ENVOLTORIO_APRESENTACAO](
	[ENVOLTORIOS_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[ENVOLTORIO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRES_EV] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[ENVOLTORIO_APRESENTACAO] CHECK CONSTRAINT [FK_APRES_EV]
GO
ALTER TABLE [carga].[ENVOLTORIO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_ENV_APRES] FOREIGN KEY([ENVOLTORIOS_ID])
REFERENCES [carga].[ENVOLTORIOS] ([ENVOLTORIOS_ID])
GO
ALTER TABLE [carga].[ENVOLTORIO_APRESENTACAO] CHECK CONSTRAINT [FK_ENV_APRES]
GO
