USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[CLASSE_TERAPEUTICA]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[CLASSE_TERAPEUTICA](
	[CLASSE_TERAPEUTICA_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLASSE_TERAPEUTICA_DESC] [varchar](300) NULL,
 CONSTRAINT [CLASSE_TERAPEUTICA_ID] PRIMARY KEY CLUSTERED 
(
	[CLASSE_TERAPEUTICA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
