USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[ADMINISTRACAO_APRESENTACAO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ADMINISTRACAO_APRESENTACAO](
	[ADMINISTRACAO_ID] [int] NULL,
	[APRESENTACAO_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[ADMINISTRACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_ADM_APRESENTACAO] FOREIGN KEY([ADMINISTRACAO_ID])
REFERENCES [carga].[ADMINISTRACAO] ([ADMINISTRACAO_ID])
GO
ALTER TABLE [carga].[ADMINISTRACAO_APRESENTACAO] CHECK CONSTRAINT [FK_ADM_APRESENTACAO]
GO
ALTER TABLE [carga].[ADMINISTRACAO_APRESENTACAO]  WITH CHECK ADD  CONSTRAINT [FK_APRESENTACAO_ADM] FOREIGN KEY([APRESENTACAO_ID])
REFERENCES [carga].[APRESENTACAO] ([APRESENTACAO_ID])
GO
ALTER TABLE [carga].[ADMINISTRACAO_APRESENTACAO] CHECK CONSTRAINT [FK_APRESENTACAO_ADM]
GO
