USE [SUPORTE_II]
GO
/****** Object:  Table [carga].[ROTULO_MEDICAMENTO]    Script Date: 16/04/2019 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carga].[ROTULO_MEDICAMENTO](
	[ROTULO_ID] [int] NULL,
	[MEDICAMENTO_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [carga].[ROTULO_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_ROTULO] FOREIGN KEY([MEDICAMENTO_ID])
REFERENCES [carga].[MEDICAMENTO_CONTENT] ([MEDICAMENTO_ID])
GO
ALTER TABLE [carga].[ROTULO_MEDICAMENTO] CHECK CONSTRAINT [FK_MEDICAMENTO_ROTULO]
GO
ALTER TABLE [carga].[ROTULO_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_ROTULO_MEDICAMENTO] FOREIGN KEY([ROTULO_ID])
REFERENCES [carga].[ROTULO] ([ROTULO_ID])
GO
ALTER TABLE [carga].[ROTULO_MEDICAMENTO] CHECK CONSTRAINT [FK_ROTULO_MEDICAMENTO]
GO
